input{
    font-family: monospace;
    border-radius: 4px;
}
body{
    font-family: monospace;
    background-color: lightgray;
    user-select: none;
}
span.error{
    color: red;
}
span.warning{
    color: darkorange;
}
span.info{
    color: black;
}
#msg{
    font-weight: bold;
}
