input{
    font-family: monospace;
    border-radius: 4px;
}
body{
    background-color: lightgray;
}
ul.sidebar{
    list-style-type: none;
}
li a{
    text-decoration: none;
    display: block;
    border-radius: 6px;
    padding: 10px;
    margin: 6px 0px;
    color: black;
    user-select: none;
}
li a:hover:not(.active){
    background-color: #efefef;
}
li a.active{
    background-color: white;
}
