input{
    font-family: monospace;
    border-radius: 4px;
}
body{
    background-color: lightgray;
}
ul.sidebar{
    list-style-type: none;
    padding: 6px;
    margin: 0px;
}
ul.sidebar li a{
    text-decoration: none;
    display: block;
    border-radius: 6px;
    padding: 10px;
    margin: 6px 0px;
    color: black;
    user-select: none;
}
ul.sidebar li a:hover:not(.active){
    background-color: #efefef;
}
ul.sidebar li a.active{
    background-color: white;
}
.nodisplay{
    display: none !important;
}
div.content{
    padding: 10px;
    margin: 0px;
}
span.progbar{
    background-color: #efefef;
    display: inline-block;
}
span.proggreen{
    background-color: green;
    display: inline-block;
    white-space: nowrap;
}
span.proggrey{
    background-color: grey;
    display: inline-block;
    white-space: nowrap;
}
